
#mainCont{
    display: flex;
    width: 80%;
    margin: auto;
}
#prefix{
    display: flex;
}
#topHeading{
    margin-bottom: -15px;
}
#B1{
    width: 50%;
}
#B2{
    width:50%;
    margin-top: 50px;
}
.sbox1{
    margin-top: 10px;
    width: 90%;
}

.inputtag{
    width:90%;
    height:25px;
}

#bsign{
    font-style: Arial;
    background-color: #f2f2f2 ;
    width: 30%;
    border: transparent;
    height: 30px;
}

.t{
    font-size: 20px;
}
li{
    color: gray;
    margin-top: 5px;
}

#d{
    color: grey;
    margin-bottom: 2px;
}
#dateofbirth select{
        width: 27%;
        height: 32px;
}

.sbox2{
    margin-top: 10px;
    width: 90%;
}
.para{
    color: #757575;
}


button{
    width: 70px;
  background-color: #000000;
  color: #FFFFFF
  
}