* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#products > div:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
  
#products {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1% 4%;
    margin: 3% 5%;
    /* border: 2px solid green; */
}

#products>div {
    /* border: 1px solid red; */
    padding: 10px
}

#products>div>h4,
p {
    text-align: center;
}

#products>div>h4 {
    font-weight: 100;
}

#products>div>p {
    color: gray;
}

#products>div>p+h4 {
    font-weight: bold;
}

#products>div>img {
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    margin-top: 4%;
    margin-left: 32%;
    margin-bottom: 4%;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 12px;
    cursor: pointer;
}

button > div:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
  }

#body_main {
    display: flex;
    width: 80%;
    height: 3100px;
    margin: auto;
  
}

#mainContainer {
    padding: 2%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 15rem;
}

#filter {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 0px 15px;

}

#filter>p:nth-child(1) {
    color: black;
}

#filter>p {
    color: gray;
}

#input>p {
    display: flex;
    /* border: 1px solid black; */
    width: 15rem;
    justify-content: space-between;
    font-size: 18px;
    padding: 5px 0px;
    align-items: center;
    margin: 12px 0px 0px;
}

#input>p>i {
    font-size: 25px;
}

#input>div {
    width: 15rem;
    /* padding: 4px 0px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#input>div>input {
    width: 235px;
    padding: 8px;
    border: none;
    width: 100%;
    margin-right: 5px;
    outline: none;
    font-size: 18px;
}

#input>div>i {
    font-size: 22px;
    margin-right: 8px;
}


#Options {
    height: 400px;
    width: 15rem;
    padding: 10px;
    overflow: scroll;
    margin-bottom: 20px;
}

#Options>p {
    margin-bottom: 8px;
    color: #686767;
}

#Options>p:hover {
    color: black;
}

#Options>p>i {
    margin-right: 6px;
    font-size: 12px;
    color: grey;
}

/* Designer Close */
#size>p {
    display: flex;
    /* border: 1px solid black; */
    width: 15rem;
    justify-content: space-between;
    font-size: 18px;
    padding: 5px 0px;
    align-items: center;
    margin: 12px 0px 0px;
}

#size>p>i {
    font-size: 25px;
}

#size1 {
    height: 400px;
    width: 15rem;
    padding: 10px;
    overflow: scroll;
    margin-bottom: 20px;
}

#size1>p {
    margin-bottom: 8px;
    color: #686767;
}

#size1>p:hover {
    color: black;
}

#size1>p>i {
    margin-right: 6px;
    font-size: 12px;
    color: grey;
}

/* Size Close */

#color>p {
    display: flex;
    /* border: 1px solid black; */
    width: 15rem;
    justify-content: space-between;
    font-size: 18px;
    padding: 5px 0px;
    align-items: center;
    margin: 12px 0px 0px;
}

#color>p>i {
    font-size: 25px;
}

#color1 {
    height: 400px;
    width: 15rem;
    padding: 10px;
    overflow: scroll;
    margin-bottom: 20px;
}

#color1>p {
    margin-bottom: 8px;
    color: #686767;
}

#color1>p:hover {
    color: black;
}

#color1>p>i {
    margin-right: 6px;
    font-size: 12px;
    color: grey;
}
#lastbox{
    width: 50%;
    height: 100px;
    /* border: 1px solid  blue; */
    margin: auto;
  }
  #lastbox>h1{
    align-items: center;
    margin-left: 20%;
    font-weight: lighter;
  }
  #lastbox_div{
    width: 20%;
    display: flex;
    margin-top: 20px;
    margin-left: 13%;
  }
   #lastbox_div>button{
    background-color: rgb(191, 191, 191);
    color: white;
   }