
#mainCont{
    display: flex;
    width: 80%;
    margin: auto;
}
#prefix{
    display: flex;
}
#topHeading{
    margin-bottom: -15px;
}
#B1{
    width: 50%;
}
#B2{
    width:50%;
}
.sbox1{
    margin-top: 10px;
    width: 90%;
}
.changes{
       margin-top: 10px;
       width: 82%;
       height: 32px;

}

.inputtag{
    width:90%;
    height:25px;
}
#input1{
    width:82%;
    height:32px;
}
#bsign{
    font-style: Arial;
    background-color: #f2f2f2 ;
    width: 30%;
    border: transparent;
    height: 30px;
}
#para{
    color: rgb(237, 0, 0);;
}
#t{
    font-size: 20px;
}
li{
    color: gray;
    margin-top: 5px;
}
.sbox2{
    margin-top: 80px;
    width: 90%;
}
#t{
    font-size: 20px;
    color: grey;

}
#d{
    color: grey;
    margin-bottom: 2px;
}
#dateofbirth select{
        width: 27%;
        height: 32px;
}