/* <!-- FooterTop Section --> */

#FooterTop {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

#FooterTop>h1 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 14px;
    color: #3d3b36;
    text-transform: uppercase;
    letter-spacing: 0.4;
}

#FooterTop>p {
    font-size: 13px;
    text-align: left;
    letter-spacing: 0.4;
    width: 95%;
    color: #252525;
    margin-bottom: 14px;
}

#FooterTop>div>h2 {
    font-size: 16px;
    margin-bottom: 14px;
    color: #3d3b36;
    text-transform: uppercase;
    letter-spacing: 0.4;
}

#FooterTop>div>p {
    font-size: 13px;
    text-align: left;
    letter-spacing: 0.4;
    width: 95%;
    color: #252525;
    margin-bottom: 22px;
}

.hr>hr {
    width: 80%;
    margin: auto;
    height: 1px;
    border-width: 0;
    color: #dddcdc;
    background-color: #cdcdcd;
    margin-bottom: 20px;
}



/* <!-- Footer Middle Section --> */

#FooterMid>h1{
    text-align: center;
    font-size: 15px;
    font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 1;
    text-transform: uppercase;
    color: #000;
}
#FooterMid{
    width: 80%;
    margin: auto;
}
#FooterMid>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#FooterMid>div>div{
    width: 10%;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#FooterMid>div>div>img{
    width: 100%;
    display: block;
}

#footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#footer>div>h1{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    
}
#footer>div>div>h3{
    font-size: 16px;
    margin-bottom: 3px;
}
#footer>div>div>p{
    color: gray;
}
#footer>div>div{
    margin-bottom: 20px;
}
#footer>div:nth-child(3)>h1{
    width: 1%;
}
#footer>div:nth-child(2)>p,:nth-child(3)>p{
    color: grey;
    margin-bottom: 8px;
}
#footer>div:nth-child(4){
    width: 38%;
}
#footer>div:nth-child(4)>input{
    width: 50%;
    padding: 7px 7px;
    font-size: 14px;
    border: 1px solid #d9d2d2;
}
#footer>div:nth-child(4)>button{
    text-transform: uppercase;
    padding: 7px 7px;
    margin: -5px;
    width: 40%;
    border: none;
}
#footer>div:nth-child(4)>h3{
    font-size: 16px;
    margin-top: 15px;
}
#footer>div:nth-child(4)>p{
    color: grey;
}

#copyRight{
    width: 80%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    color: gray;
    margin-top: 40px;
    margin-bottom: 20px;
}

#copyRight>div:nth-child(2){
    display: flex;
    width: 22%;
    justify-content: space-between;
    color: gray;
}
#icon{
    display: flex;
    
}
#icon>i{
    padding: 7px;
}
#icon>i:hover{
    color: rgb(223, 37, 68);
}
