*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#top>p{
    text-transform: uppercase;
    margin: 10px 0px 10px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
}

#top1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#top1>div:nth-child(1){
    width: 14rem;
    background-color: black;
    padding: 6px 0px;
    text-align: center;
    margin: 14px 0px 18px;
}
#top1>div:nth-child(1):hover{
    background-color: rgb(67, 67, 67);
}

#top1>div:nth-child(1)>a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
#price{
    width: 14rem;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
}
/* Top Section Close Here */

#Bottom>p{
    color: gray;
    text-transform: capitalize;
    text-align: center;
    margin: 25px;
}
#CallMail{
    display: flex;
    width: 80%;
    margin: auto;
}
#CallMail>div{
    align-items: center;
    /* border: 1px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: center;
    width: 30rem;
    padding: 18px 10px;
    margin-right: 18px;
}
#CallMail>div:nth-child(1)>p{
    margin-bottom: 5px;
    color: gray;
    font-size: 15px;
    text-decoration: underline;
}
#CallMail>div:nth-child(1)>p:nth-child(2){
    color: black;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}
#CallMail>div:nth-child(1)>p:nth-child(10){
    margin-top: 20px;
    text-decoration: none;
}

#CallMail>div:nth-child(1)>i{
    margin: 0px 0px 10px;
}



#CallMail>div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#CallMail>div:nth-child(2)>p{
    margin-bottom: 12px;
    font-size: 15px;
    color: gray;
}
#CallMail>div:nth-child(2)>p:nth-child(2){
    margin-top: 12px;
}
#CallMail>div:nth-child(2)>p:nth-child(4){
    text-align: center;
    width: 29rem;
    color: rgb(84, 82, 82);
}